*{
    margin: 0;
    padding: 0;
    font-family: 'Bitter', serif;
}
.main{
    width: 100%;
    height: 695px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    overflow: hidden;   
}
.menu{
    width: 30%;
    height: 40px;
    text-align: center;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    }
.menu ul{
    list-style: none;
    position: relative;
    text-align: center;
}
.menu ul li{
    float: left;
}
.menu ul li a{
    text-align: center;
    font-size: 16px;
    text-decoration: none; 
    display: block;  
    padding: 10px 10px;
    text-transform: uppercase;
    color: black;
}
.linha{
    width: 300px;
    height: 2px;
    background-color: #ef5350;
    border-radius: 8px;
    margin: 10px auto;
}
.main_feed{
    width: 80%;
    height: 580px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    overflow: auto;
    align-items: center;
}
.card{
    width: 75%;
    height: 270px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-content: space-around;
    margin: 4px auto;
    border: solid 1px #EEEEEE;
    border-radius: 8px;
}
.title{
    width: 75%;
}
.text{
    width:75%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content:center;
    align-items: center;
    order: 1;
}
.text img{
    order: 3;
    border-radius: 4%;
    margin: 5px;
    display: block;
    width: 100%;
}
.card h5{
    width: 75%;
    order: 4;
}
::-webkit-scrollbar-track {
    background-color: #EEEEEE;
}
::-webkit-scrollbar {
    width: 4px;
    background: #EEEEEE;
}
::-webkit-scrollbar-thumb {
    background: #ef5350;
    border-radius: 8px;
}
.main_home{
    width: 85%;
    height: 580px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    overflow: hidden;
    align-items: center;    
}
.card-home{
    width: 48%;
    height: 270px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-content: space-around;
    margin: 4px auto;
    border: solid 1px #ef5350;
    border-radius: 8px;
}
.card-home .title{
    width: 95%;
    order: 1;
}
.card-home .text{
    width: 95%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content:center;
    align-items: center;
    order: 2;
}
.card-home .text img{
    border-radius: 4%;
    margin: 5px;
    display: block;
    width: 50%;
}
.card-home  h5{
    width: 75%;
    order: 3; 
}
/*Desativa o menu responsivo no desktop.*/
.menu-responsivo{
    display: none;
}
@media all and (min-width: 10px) and (max-width: 767px) and (orientation: portrait)
{
    .main{
        width: 100%;
        height: 695px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        overflow: hidden;
    }
    .main_feed
    {
        max-width: 100%;
        overflow: auto;
    }
/*Desativar o menu desktop*/
    .menu
    {
        display: none;
    }
    .menu-responsivo
    {
        display: block;
        width: 100%;
        height: 60px;
        position: fixed;
        background-color: black;
        top: 92%;
        z-index: 10;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    .menu-lista-r{
        width: 100%;
        height: 48px;
        text-align:center;
        display: flex;
        justify-content: space-around;
    }
    .menu-item-r{
        list-style: none;
        margin: 12px;
        float: left;
    }
    .menu-item-r a{
        text-decoration: none;
        color: white;
        font-size: 22px;
        position: relative;
        padding: 3px 0;
    }
    .card
    {
        width: 100%;
        height: 400px;
        border: solid 1px #BDBDBD;
        border-radius: 8px;
        color: black;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-content: space-around;
    }
    .title
    {
        text-align: center;
        width: 80%;
        margin: 1px;
        font-size: 15px;
    }       
    .text
    {
        width: 80%;
        height: 280px;
        margin: 1px auto;
        font-size: 16px;
    }
    
    .text img
    {
        display: none;

    }
    
}