*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}
.main1{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  overflow: hidden;
 
}
.testimonials{
  margin-top: 20px;
  padding: 40px 0;
  color: #434343;
  text-align: center;
}
.inner{
  max-width: 1500px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.border{
  width: 160px;
  height: 5px;
  background: #ef5350;
  margin: 26px auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonial{
  background: #fff;
  padding: 30px;
  height: 100%;
}
.testimonial img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}


@media screen and (max-width:960px) {
.col{
  flex: 100%;
  max-width: 80%;
}
} 

@media screen and (max-width:600px) {
.col{
  flex: 100%;
  max-width: 100%;
}
}
